@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    overflow-x: hidden;
}

body {
    height: 100%;
    color: black;
    background-color: rgba(255, 255, 255, 0.56);
}

.intro-wrap{
    padding: 30px;
    margin-top: 20px;
}

.big{
    font-family: 'SBAggroB';
    font-size: 40px;
    font-weight: 700;
}

.small{
    font-family: 'GmarketSansMedium';
    font-size: 15px;
    font-weight: 100;
    margin-top: 20px;
}

.grid-wrap{
    display: grid;
    grid-template-columns: 130px 130px 130px;
   grid-template-rows: 170px 170px;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.content{
    padding: 13px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-family: 'S-CoreDream-3Light';
}

.content div{
    display: flex;
    justify-content: center;
}