<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>🐣 카드 뒤집기 게임 🎮</title>
    <link rel="stylesheet" type="text/css" media="screen" href="./cardgame.css">
    <div class="top">
        <h1>카드 뒤집기 게임</h1>
        <p>얼마나 알고 있을까? 퀴즈를 통해 알아보자! 😁</p>
    </div>
    <button class="start-button" type="button">게임시작</button>
    <h4 class="timer"></h4> <br>
    <div class="card-container"></div>
    <link rel="stylesheet" href="index.css">
    </link>
</head>
<body id="app">
    <script type="module" src="./js/index.js"></script>
</body>
<script>
    document.documentElement.addEventListener('touchstart', function (event) {
            if (event.touches.length > 1) {
                event.preventDefault();
            }
        }, false);

        var lastTouchEnd = 0;

        document.documentElement.addEventListener('touchend', function (event) {
            var now = (new Date()).getTime();
            if (now - lastTouchEnd <= 300) {
                event.preventDefault();
            } lastTouchEnd = now;
        }, false);
    
</script>
</html>